
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}
.card {

   display: flex;
   float: left;
   /*display: inline-block;*/
   width: calc(33% - 10px);
   margin: 10px 5px;
   background-color: white;
 }
 .card div {
   padding: 20px 5px;
}

.card img {
   width: 100%;
}

.card div.description {
   font-size: 12px;
}

.card h3 {
   font-size: 14px;
}
.social {
   margin-top: 1rem;
   font-size: 12px;
 }
 
 .social span {
   background-size: contain;
   background-repeat: no-repeat;
   padding-left: 25px;
   margin-right: 10px; /* we could use use 1em here, but 10px is a bit more precise */
 }
 
 .social .heart {
   background-image: url(./images/heart.png);
 }
 
 .social .comment {
   background-image: url(./images/comment.png);
}

/* add styles here */
